@import resolutions
@import fonts
@import colors

.modal-box
  width: 400px
  padding: 40px
  border-radius: 3px
  background-color: $color4
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2)
  position: relative

.modal-box__close
  position: absolute
  top: 37px
  right: 35px
  background: url("../img/close.png") no-repeat center center
  background-size: 20px
  padding: 5px
  width: 20px
  height: 20px
  &:hover
    background: url("../img/close-hover.svg") no-repeat center center

.modal-box__title
  font-size: 24px
  line-height: 24px
  font-family: $font-medium
  color: $color1

.modal-socials
  width: 240px
  margin: 34px auto 30px

.modal-socials__table
  width: 100%

.modal-socials
  td
    width: 33.33%
    text-align: center
  a
    width: 58px
    height: 58px
    box-sizing: border-box
    border: 1px solid $color6
    border-radius: 3px
    color: $color9
    display: inline-block
    font-size: 29px
    padding-top: 15px
    -webkit-transform: translateZ(0)
    transition: color .5s, border .5s, background-color .5s
    text-align: center
    &:hover
      color: $color4
      border: 1px solid $color9
      background-color: $color9

.modal-socials__fb
  margin-bottom: 15px

.modal-socials__vk
  margin-bottom: 15px

.modal-socials__tw
  margin-bottom: 15px

.modal-box__bot-link-box
  margin-top: 30px
  text-align: center

.modal-box__bot-link
  font-size: 16px
  line-height: 16px
  font-family: $font-regular
  color: $color5
  &:hover
    text-decoration: underline

.modal-box__text
  font-size: 16px
  line-height: 22px
  color: $color2
  font-family: $font-regular
  margin: 15px 0

.modal-wg-net
  text-align: center
  img
    width: 100px
    height: 100px

.modal-news
  margin: 35px 0 0

.modal-news__social-box
  height: 152px

.modal-news__left
  width: 200px
  float: left

.modal-news__right
  width: 190px
  padding-left: 10px
  float: right

.modal-news__link
  width: 190px
  padding-left: 21px
  height: 66px
  border-radius: 3px
  border: 1px solid $color6
  display: block
  box-sizing: border-box
  -webkit-transform: translateZ(0)
  transition: background-color .5s, border .5s
  .icon
    color: $color9
    font-size: 28px
    display: inline-block
    padding-top: 21px
    vertical-align: top
    -webkit-transform: translateZ(0)
    transition: color .5s
  &:first-child
    margin-bottom: 20px
  &:hover
    border: 1px solid $color9
    background-color: $color9
    .icon
      color: $color4
    .modal-news__link-text
      color: $color4

.modal-news__link-text
  padding: 26px 0 0 8px
  font-size: 14px
  line-height: 18px
  display: inline-block
  vertical-align: top
  color: $color7
  font-family: $font-regular
  -webkit-transform: translateZ(0)
  transition: color .5s

.modal-news__text
  margin-top: 48px
  clear: both
  font-size: 16px
  line-height: 18px
  color: $color1
  font-family: $font-regular
  a
    color: $color5
    &:hover
      text-decoration: underline

.modal-news__input
  margin: 10px 0

.modal-news__submit
  margin: 5px 0

.modal-question
  margin-top: 20px

.modal-question__text-box
  &:after
    content: ""
    display: table
    clear: both

.modal-question__pic-box
  float: left
  width: 80px

.modal-question__pic
  width: 80px
  height: 80px

.modal-question__text
  margin-left: 103px
  font-size: 16px
  line-height: 22px
  color: $color2
  font-family: $font-regular

.modal-question__button-box
  margin-top: 40px
  height: 44px


.modal-question__button-cancel
  display: block
  float: left
  width: 100px
  height: 44px
  margin: 0 22px 0 103px
  padding: 5px 0
  text-align: center
  border-radius: 5px

.modal-question__button-ok
  display: block
  float: left
  width: 100px
  height: 44px
  padding: 5px 0
  text-align: center

.modal-profile
  margin-top: 20px

.modal-profile__edit-photo
  position: relative

.modal-profile__edit-photo-pic
  width: 120px
  height: 120px
  border-radius: 50%
  //display: block

.modal-profile__edit-photo-button
  position: absolute
  top: 0
  left: 0
  background: url("../img/modal-edit-photo.png") no-repeat center center transparent
  background-size: 36px 36px
  width: 120px
  height: 120px
  cursor: pointer

.modal-profile__label-box
  margin-top: 22px

.modal-profile__input-box
  margin-top: 5px

.modal-profile__medal
  display: inline-block
  vertical-align: baseline
  margin-left: 6px
  position: relative
  top: 1px
  img
    width: 10px
    height: 15px

.modal-profile__select-box
  margin-top: 5px

.modal-profile__textarea-box
  margin-top: 5px

.modal-profile__textarea
  height: 160px

.modal-profile__button-box
  margin-top: 40px
  height: 44px

.modal-profile__button-cancel
  display: block
  float: left
  width: 140px
  height: 44px
  margin: 0 20px 0 50px
  padding: 5px 0
  text-align: center

.modal-profile__button-ok
  display: block
  float: left
  width: 140px
  height: 44px
  padding: 5px 0
  text-align: center

@media (max-width: $tablet - 1 + px)
  .modal-box
    width: 240px
    padding: 20px
  .modal-box__close
    top: 13px
    right: 15px
  .modal-box__title
    font-size: 18px
    line-height: 20px
    text-align: left
    padding-right: 15%
  .modal-socials
    width: 100%
    margin: 18px 0 28px
    td
      text-align: left
  .modal-box__bot-link-box
    margin-top: 28px
    text-align: left
  .modal-box__text
    margin: 25px 0 15px
  .modal-news
    margin: 20px 0 0
  .modal-news__social-box
    height: auto
  .modal-news__left
    float: none
    width: 240px
  .modal-news__right
    float: none
    width: 240px
    padding-left: 0
    padding-top: 20px
  .modal-news__link
    width: 240px
  .modal-news__text
    margin-top: 25px
  .modal-news__submit
    margin-top: 0
  .modal-question
    margin-top: 20px
  .modal-question__pic-box
    float: none
    width: auto
  .modal-question__text
    margin: 11px 0 0 0
  .modal-question__button-box
    margin-top: 20px
  .modal-question__button-cancel
    width: 110px
    margin: 0 20px 0 0
  .modal-question__button-ok
    width: 110px
  .modal-profile__input-box
    margin-top: 3px
  .modal-profile__select-box
    margin-top: 3px
  .modal-profile__textarea-box
    margin-top: 3px
  .modal-profile__button-box
    margin-top: 20px
    height: auto
  .modal-profile__button-cancel
    float: none
    margin: 0 0 20px 0
    width: auto
  .modal-profile__button-ok
    float: none
    width: auto


