.article-stats {
  height: 20px;
}

.article-stats__favs {
  float: left;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-regular;
  color: $active-text;
}

.article-stats__favs_white {
  color: $additional-text;
}

.article-stats__dot {
  float: left;
  color: $active-text;
  height: 20px;
  width: 3px;
  margin: 7px 25px 0 25px;
  font-size: 3px;
}

.article-stats__dot_white {
  color: $additional-text;
}

.article-stats__comments {
  float: left;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-regular;
  color: $active-text;
}

.article-stats__comments_white {
  color: $additional-text;
}

.article-stats__icon {
  float: left;
  margin: 1px 12px 0 0;

  &:before{
    @include icon();
  }
}

.article-stats__icon_layka {
  &:before{
    @include icon-layka();
  }
}

.article-stats__icon_point {
  &:before{
    @include icon-point();
  }
}

.article-stats__icon_comment {
  &:before{
    @include icon-comment();
  }
}

//.article-stats__favs
//  .article-stats__icon.article-stats__icon_layka
//  span 217
//.article-stats__dot
//  .article-stats__icon.article-stats__icon_point
//.article-stats__comments
//  .article-stats__icon.article-stats__icon_comment
//  span 103
//
//
//.article-stats__favs.article-stats__favs_white
//  .article-stats__icon.article-stats__icon_layka
//  span 217
//.article-stats__dot.article-stats__dot_white
//  .article-stats__icon.article-stats__icon_point
//.article-stats__comments.article-stats__comments_white
//  .article-stats__icon.article-stats__icon_comment
//  span 103
