.btn {
  display: inline-block;
  padding: 5px 10px;
  box-sizing: border-box;
  font-family: $font-medium;
  color: $active-text;
  background-color: $controls-bg;
  border: solid 1px $controls-active;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transition: background-color 0.5s, color 0.5s;
  font-size: 16px;
  line-height: 34px;
  border-radius: 5px;

  &:hover {
    background-color: $controls-active;
    color: $controls-active-text;
    border-radius: 5px;
  }
}

.btn_cancel {
  color: $controls-shutted;
  background-color: $controls-bg;
  border: solid 1px $controls-shutted;

  &:hover {
    background-color: $controls-shutted;
    color: $controls-active-text;
  }
}

.btn_block {
  display: block;
  width: 100%;
  text-align: center;
}

.input {
  display: block;
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  padding: 5px 12px;
  font-size: 16px;
  line-height: 32px;
  color: $main-text;
  font-family: $font-regular;
  border-radius: 3px;
  background-color: $controls-input-bg;
  border: solid 1px transparent;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.03);
  outline: none;

  &:focus {
    box-shadow: 0 0 3px 0 rgba(103, 177, 207, 0.5);
    border: solid 1px $controls-focused;
  }
}

.input-label-box {
  margin: 10px 0 5px;
}

.input-label {
  font-size: 16px;
  line-height: 20px;
  color: $controls-shutted;
  font-family: $font-regular;
}

.input-error {
  font-size: 13px;
  line-height: 20px;
  color: $controls-error;
}

.select {
  display: block;
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: $controls-input-bg;
  border: solid 1px transparent;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.03);
  cursor: pointer;
  position: relative;
}

.select_active {
  .select__icon {
    transform: rotate(180deg) translate(0, 5px);
  }

  .select__options {
    display: block;
  }
}

.select__pic {
  display: block;
  float: right;
  width: 42px;
  height: 26px;
  padding-top: 16px;
  background-color: $controls-active;
  font-size: 13px;
  color: $controls-active-text;
  text-align: center;
  border-radius: 0 3px 3px 0;
}

.select__icon{
  &:before{
    @include icon();
    @include icon-arr-down();
  }
}

.select__selected {
  padding: 5px 12px;
  margin-right: 45px;
  font-size: 16px;
  line-height: 32px;
  color: $main-text;
  font-family: $font-regular;
}

.select__options {
  display: none;
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $controls-input-bg;
  border-radius: 3px;
}

.select__option {
  padding: 13px 12px;
  font-size: 16px;
  line-height: 16px;
  color: $main-text;
  font-family: $font-regular;

  &:hover {
    background-color: $controls-active;
    color: $controls-active-text;
  }
}

.textarea {
  font-size: 16px;
  line-height: 22px;
  color: $main-text;
  padding: 10px 12px;
  height: 70px;
  border-radius: 3px;
  background-color: $controls-input-bg;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.03);
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  border: solid 1px $controls-input-bg;
  outline: none;

  &:focus {
    box-shadow: 0 0 3px 0 rgba(103, 177, 207, 0.5);
    border: solid 1px $controls-focused;
  }
}

.radio-box, .checkbox-box {
  margin-top: 10px;
}

.checkbox, .radio {
  opacity: 0;
  position: absolute;
}

.checkbox, .checkbox-label, .radio, .radio-label {
  display: inline-block;
  cursor: pointer;
}

.checkbox + .checkbox-label:before, .radio + .radio-label:before {
  background: $default-bg;
  display: inline-block;
  content: '';
  vertical-align: top;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: solid 1px $controls-shutted;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
}

.checkbox-label, .radio-label {
  position: relative;
  color: $main-text;
  font-size: 16px;
  line-height: 20px;

  &:hover{
    color: $controls-active;
  }

  &:hover:before{
    border: solid 1px $controls-active;
  }
}

.checkbox:checked + .checkbox-label, .radio:checked + .radio-label {
  color: $controls-active;
}

.checkbox + .checkbox-label:before {
  border-radius: 3px;
}

.checkbox:checked + .checkbox-label:before {
  border: solid 1px $controls-active;
}

.checkbox:checked + .checkbox-label:after {
  display: block;
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  border-bottom: 2px solid $controls-active;
  border-right: 2px solid $controls-active;
  top: 2px;
  left: 6px;
  transform: rotate(45deg);
}

.radio + .radio-label:before {
  border-radius: 50%;
}

.radio:checked + .radio-label:before {
  border: solid 1px $controls-active;
  background-color: $controls-active;
  box-shadow: inset 0 0 0 4px $default-bg;;
}

.native-select__box{
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  border: solid 1px transparent;
}

.native-select__box:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  float: right;
  width: 42px;
  height: 100%;
  box-sizing: border-box;
  padding-top: 16px;
  background-color: $controls-active;
  font-size: 13px;
  color: $controls-active-text;
  text-align: center;
  border-radius: 0 3px 3px 0;
  @include icon();
  @include icon-arr-down();
  pointer-events:none;
}

.native-select{
  display: inline-block;
  font-size: 16px;
  line-height: 32px;
  padding: 5px 9px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.03);
  background: $additional-bg;
}

.native-select_option{
  font-size: 16px;
  padding: 5px 9px;
  background-color: $additional-bg;
}
