@import "fonts";
@import "resolutions";
@import "colors";

@font-face {
  font-family: "brutal_regular";
  src: url("../fonts/Brutal/regular/BrutalRegular.eot");

  /* IE9 Compat Modes */
  src: url("../fonts/Brutal/regular/BrutalRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Brutal/regular/BrutalRegular.woff") format("woff"), url("../fonts/Brutal/regular/BrutalRegular.ttf") format("truetype"), url("../fonts/Brutal/regular/BrutalRegular.svg#e1281a2e4a9cbb869772bf364d6fd47b") format("svg");

  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "brutal_medium";
  src: url("../fonts/Brutal/medium/BrutalMedium.eot");

  /* IE9 Compat Modes */
  src: url("../fonts/Brutal/medium/BrutalMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Brutal/medium/BrutalMedium.woff") format("woff"), url("../fonts/Brutal/medium/BrutalMedium.ttf") format("truetype"), url("../fonts/Brutal/medium/BrutalMedium.svg#da1417a78f413faf5b2694e8ddb1ce0f") format("svg");

  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "brutal_bold";
  src: url("../fonts/Brutal/bold/BrutalBold.eot");

  /* IE9 Compat Modes */
  src: url("../fonts/Brutal/bold/BrutalBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Brutal/bold/BrutalBold.woff") format("woff"), url("../fonts/Brutal/bold/BrutalBold.ttf") format("truetype"), url("../fonts/Brutal/bold/BrutalBold.svg#741cb8ff704ac54b4e5035ec6ec84e62") format("svg");

  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

a {
  text-decoration: none;
}

input {
  background-color: transparent;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  background-color: $default-bg;
}

.wrapper {
  padding: 50px 0 60px;
}

/*R320 */
@media (max-width: $tablet - 1 + px) {
  body {
    min-width: 320px;
  }

  .wrapper_404{
    padding-top: 0;
  }
}

/*R764 */
@media (min-width: $tablet + px) and (max-width: $desktop - 1 + px) {
  body {
    overflow-x: hidden;
  }

  .wrapper_404{
    padding-top: 0;
  }
}

/*R1024 */
@media (min-width: $desktop + px) and (max-width: $desktop-wide - 1 + px) {
  body {
    overflow-x: hidden;
  }

  .wrapper {
    width: 1024px;
    margin: 0 auto;
    position: relative;
  }
}

/*R1440 */
@media (min-width: $desktop-wide + px) {
  body {
    overflow-x: hidden;
  }

  .wrapper {
    width: 1440px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 80px;
  }
}

.wrapper_no-branding{
  width: auto;
  padding-top: 0;
}

@import "controls";
@import "header";
@import "ext-menu";
@import "footer";
@import "newslatter";
@import "article";
@import "article-stats";
@import "same-article";
@import "comment-link";
@import "comments";
@import "pop-article";
@import "markup-article";
@import "category";
@import "load-more";
@import "profile";
@import "about";
@import "search";
