@import "resolutions";
@import "colors";

.no-branding {
  background: url("../img/no-branind.png") repeat-x, $color4;
}

/*R320 */
@media (max-width: $tablet - 1 + px) {
  .no-branding {
    background-image: none;
    background-color: $color4;
  }
}

/*R764 */
@media (min-width: $tablet + px) and (max-width: $desktop - 1 + px) {
  .no-branding {
    background-size: auto 300px;
  }

  .background_theme_hybrid-wars {
    background: url("../img/bg-pic/bg-pic.jpg") repeat-x center 80px;
    background-size: auto 500px;

    .wrapper {
      padding-top: 260px;
    }
  }
}

/*R1024 */
@media (min-width: $desktop + px) and (max-width: $desktop-wide - 1 + px) {
  .no-branding {
    background-size: auto 470px;
  }

  .background_theme_hybrid-wars {
    background: url("../img/bg-pic/bg-pic.jpg") repeat-x center 100px;
    background-size: auto 760px;

    .wrapper {
      padding-top: 450px;
    }

    .right-col {
      top: 450px;
    }
  }
}

/*R1440 */
@media (min-width: $desktop-wide + px) {
  .no-branding {
    background-size: auto 580px;
  }

  .background_theme_hybrid-wars {
    background: url("../img/bg-pic/bg-pic@2x.jpg") repeat-x center 132px;
    background-size: auto 986px;

    .wrapper {
      padding-top: 584px;
    }

    .right-col {
      top: 584px;
    }
  }
}
