@font-face {
  font-family: 'Brutal Type';
  src: url('BrutalLight.eot'); /* IE9 Compat Modes */
  src: url('BrutalLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('BrutalLight.woff') format('woff'), /* Modern Browsers */
       url('BrutalLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('BrutalLight.svg#e1281a2e4a9cbb869772bf364d6fd47b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

