doctype html
html
  head
    meta content="width=device-width, initial-scale=1" name="viewport" /
    meta charset="UTF-8" /
    link href="css/normalize.css" rel="stylesheet" /
    link href="css/style.css" rel="stylesheet" /
    title Controls
  body.no-branding style=("padding: 20px")
    div style=("width: 400px; margin: 0 auto; padding: 40px; border: 1px solid grey; border-radius: 3px")
      .input-label-box
        .input-label Input:
      div
        input.input type="text" value=("Some text") /
        .input-error Error message
      .input-label-box
        .input-label Radio:
      div
        .checkbox-box
          input#checkbox-1.checkbox[name="checkbox-1" type="checkbox" checked]
          label.checkbox-label[for="checkbox-1"]
            | First Choice
        .checkbox-box
          input#checkbox-2.checkbox[name="checkbox-2" type="checkbox"]
          label.checkbox-label[for="checkbox-2"]
            | Second Choice
        .checkbox-box
          input#checkbox-3.checkbox[name="checkbox-3" type="checkbox"]
          label.checkbox-label[for="checkbox-3"]
            | Third Choice
      .input-label-box
        .input-label Checkbox:
      div
        .radio-box
          input#radio-1.radio[name="radio-group-1" type="radio" checked]
          label.radio-label[for="radio-1"]
            | First Choice
        .radio-box
          input#radio-2.radio[name="radio-group-1" type="radio"]
          label.radio-label[for="radio-2"]
            | Second Choice
        .radio-box
          input#radio-3.radio[name="radio-group-1" type="radio"]
          label.radio-label[for="radio-3"]
            | Third Choice
      .input-label-box
        .input-label Textarea:
      div
        textarea.textarea Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the flashy array of photo printers which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age.
      .input-label-box
        .btn Button
        .btn.btn_cancel Cancel
      .input-label-box
        .btn.btn_block Button block
      .input-label-box
        .input-label Native-select
      div
        div.native-select__box
          select.native-select
            option.native-select_option One
            option.native-select_option Two
            option.native-select_option Three
      .input-label-box
        .input-label Select:
      .select
        .select__pic
          .select__icon
        .select__selected Lv.  Military Otaku
        .select__options
          .select__option Lv.  Military Otaku
          .select__option Lv.  Military Otaku
          .select__option Lv.  Military Otaku
      .input-label-box
        .input-label Select active:
      .select.select_active
        .select__pic
          .select__icon
        .select__selected Lv.  Military Otaku
        .select__options
          .select__option Lv.  Military Otaku
          .select__option Lv.  Military Otaku
          .select__option Lv.  Military Otaku
