doctype html
html style=("background-color: #47453e")
  head
    meta content="width=device-width, initial-scale=1" name="viewport" /
    meta charset="UTF-8" /
    link href="css/normalize.css" rel="stylesheet" /
    link href="css/style.css" rel="stylesheet" /
    link href="css/modals.css" rel="stylesheet" /
    title Modals
  body style=("padding: 20px; background-color: #47453e")
    .modal-box
      a.modal-box__close href="#"
      .modal-box__title Войти через социальную сеть
      .modal-socials
        table.modal-socials__table
          tr
            td
              a.modal-social__link.modal-socials__link_top href="#"
                span.modal-social__icon.modal-social__icon_fb
            td
              a.modal-social__link.modal-socials__link_top href="#"
                span.modal-social__icon.modal-social__icon_vk
            td
              a.modal-social__link.modal-socials__link_top href="#"
                span.modal-social__icon.modal-social__icon_tw
          tr
            td
              a.modal-social__link href="#"
                span.modal-social__icon.modal-social__icon_ok
            td
              a.modal-social__link href="#"
                span.modal-social__icon.modal-social__icon_in
            td
              a.modal-social__link href="#"
                span.modal-social__icon.modal-social__icon_g
      .modal-box__bot-link-box
        a.modal-box__bot-link href="#"  I don’t want to go on the cart
    div style=("margin: 30px 0; height: 10px")
    .modal-box
      a.modal-box__close href="#"
      .modal-box__title Войти с помощью WG.NET id
      .modal-box__text
        | Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola
      .modal-wg-net
        a href="#"
          img.modal-wg-net__pic alt=("WG net") src="img/wg-net.png" /
      .modal-box__text
        | Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola
      .modal-box__bot-link-box
        a.modal-box__bot-link href="#"  I don’t want to go on the cart
    div style=("margin: 30px 0; height: 10px")
    .modal-box
      a.modal-box__close href="#"
      .modal-box__title Следите за новостями
      .modal-news
        .modal-news__social-box
          .modal-news__left
            a.modal-news__link href="#"
              span.modal-news__icon.modal-news__icon_fb
              span.modal-news__link-text Warhead
            a.modal-news__link href="#"
              span.modal-news__icon.modal-news__icon_vk
              span.modal-news__link-text Warhead
          .modal-news__right
            a.modal-news__link href="#"
              span.modal-news__icon.modal-news__icon_tw
              span.modal-news__link-text Warhead
            a.modal-news__link href="#"
              span.modal-news__icon.modal-news__icon_g
              span.modal-news__link-text Warhead
        .modal-news__text
          | Присылайте мне самое интересное раз в неделю
          br/
          a.modal-news__text-link href="#"  пример письма
        .modal-news__newslatter-form
          input.input.modal-news__input placeholder=("Ваш email") type="email" /
          input.btn.btn_block.modal-news__submit type="submit" value="Подписаться" /
    div style=("margin: 30px 0; height: 10px")
    .modal-box
      a.modal-box__close href="#"
      .modal-box__title Вы полностью уверены?
      .modal-question
        .modal-question__text-box
          .modal-question__pic-box
            img.modal-question__pic alt="Question" src="img/modal-question.png" /
          .modal-question__text
            | Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola
        .modal-question__button-box
          .btn.btn_cancel.modal-question__button-cancel Нет
          .btn.modal-question__button-ok Да
    div style=("margin: 30px 0; height: 10px")
    .modal-box
      a.modal-box__close href="#"
      .modal-box__title Обновить профиль
      .modal-profile
        .modal-profile__edit-photo
          img.modal-profile__edit-photo-pic alt=("User pic") src="img/modal-user-profile.png" /
          .modal-profile__edit-photo-button
        .modal-profile__label-box
          .input-label Псевдоним:
        .modal-profile__input-box
          input.input type="text" value=("Tommy Richardson") /
        .modal-profile__label-box
          .input-label Подпись:
        .modal-profile__input-box
          input.input type="text" value=("One Who Never Knocks") /
        .modal-profile__label-box
          .input-label
            | Ранг:
            .modal-profile__medal
              img.modal-profile__medal-pic alt="Medal" src="img/medal.png" /
            .modal-profile__medal
              img.modal-profile__medal-pic alt="Medal" src="img/medal.png" /
            .modal-profile__medal
              img.modal-profile__medal-pic alt="Medal" src="img/medal.png" /
        .select.modal-profile__select-box
          .select__pic
            .select__icon
          .select__selected Lv.  Military Otaku
          .select__options
            .select__option Lv.  Military Otaku
            .select__option Lv.  Military Otaku
            .select__option Lv.  Military Otaku
        .modal-profile__label-box
          .input-label Биография:
        .modal-profile__textarea-box
          textarea.textarea.modal-profile__textarea Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the flashy array of photo printers which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age.
        .modal-profile__button-box
          .btn.btn_cancel.modal-profile__button-cancel Нет
          .btn.modal-profile__button-ok Да
