doctype html
html
  head
    meta content="width=device-width, initial-scale=1" name="viewport" /
    meta charset="UTF-8" /
    link href="css/normalize.css" rel="stylesheet" /
    link href="css/style.css" rel="stylesheet" /
    link href="css/icons.css" rel="stylesheet" /
    title Controls
  body.no-branding style=("padding: 20px")
    div style=("width: 400px; margin: 0 auto; padding: 40px; border: 1px solid grey; border-radius: 3px")
      .w-input-label-box
        .w-input-label Input:
      div
        input.w-input type="text" value=("Some text") /
        .w-input-error Сообщение об ошибке
      .w-input-label-box
        .w-input-label Select:
      .w-dropdown
        .w-dropdown__arrow
          .icon.icon-w-arr-down
        .w-dropdown__origin Lv.  Military Otaku
        .w-dropdown__extend
          .w-dropdown__extend-element Lv.  Military Otaku
          .w-dropdown__extend-element Lv.  Military Otaku
          .w-dropdown__extend-element Lv.  Military Otaku
      .w-input-label-box
        .w-input-label Radio:
      div
        .w-radio-box
          .w-radio
            .w-radio-icon
            span.w-radio-text Yes
        .w-radio-box
          .w-radio
            .w-radio-icon.w-radio-icon_active
            span.w-radio-text No
      .w-input-label-box
        .w-input-label Checkbox:
      div
        .w-checkbox-box
          .w-checkbox
            .w-checkbox-icon
            span.w-checkbox-text Yes
        .w-checkbox-box
          .w-checkbox
            .w-checkbox-icon.w-checkbox-icon_active
            span.w-checkbox-text No
      .w-input-label-box
        .w-input-label Textarea:
      div
        textarea.w-textarea Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the flashy array of photo printers which seemingly leap off the shelves at even the least tech-savvy. It surely seems old fashioned to talk about 35mm film and non-digital cameras in today’s day and age.
      .w-input-label-box
        .w-btn Да
        .w-btn.w-btn_cancel Нет
      .w-input-label-box
        .w-btn.w-btn_block Да
      .w-input-label-box
        .w-input-label Select active:
      .w-dropdown.w-dropdown-active
        .w-dropdown__arrow
          .icon.icon-w-arr-down
        .w-dropdown__origin Lv.  Military Otaku
        .w-dropdown__extend
          .w-dropdown__extend-element Lv.  Military Otaku
          .w-dropdown__extend-element Lv.  Military Otaku
          .w-dropdown__extend-element Lv.  Military Otaku
